{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}

<div class="cabecalho">
    <a href="/admin/"><img src="{% static 'logos/easyOJShorizontal.png' %}" height="40px"></a>
    <a href="https://epicteam.dev/index.html"><img src="{% static 'logos/logo-500x500.png' %}" height="40px"></a>
    <a href="   "><img src="{% static 'logos/labtec2.png' %}" height="60px"></a>

</div>

<style>
    .cabecalho {
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        align-items: center;
        /* display: inline-flex */
    }
</style>

{% endblock %}